{% load bootstrap4 %}

<div class="card">
    {% if form_title %}
    <div class="card-header">
        {{  form_title }}
    </div>
    {% endif %}
    <div class="card-body">
        {% if form %}
        <form action="" method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            {% bootstrap_form form %}
            {#                    <table>#}
            {#                        {{ form }}#}
            {#                    </table>#}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {{ submit_label|default:"Submit" }}
                </button>
            {% endbuttons %}
        </form>
        {% else %}
                <div class="alert alert-danger">
                    from 객체를 지정해 주세요 -> 이 부분은 유저에게 보여지는 것은 적합하지 않다.
                    500에러로 처리해야 맞음.
                </div>
        {% endif %}

    </div>
</div>